{% extends 'base.html' %}

{% block title %}Zamonaviy Dasturchi{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image" width="500" height="300">
            <h2>{{ post.title }}</h2>
            <p>{{ post.short_content }}</p>
            <a href="{{ post.get_detail_url }}" class="read-more">Batafsil o'qish</a>
        </article>
    {% empty %}
        <h3>Hozircha maqola yo`q</h3>
    {% endfor %}
{% endblock %}
